---
apiVersion: anarchy.gpte.redhat.com/v1
kind: AnarchyAPI
metadata:
  name: test
  namespace: {{ anarchy_operator_namespace | to_json }}
spec:
  baseUrl: https://anarchy-operator-test-server-{{ anarchy_operator_test_namespace }}.{{ openshift_app_domain }}
{% raw %}
  basicAuth:
    secretName: test-api-creds
  caCertificate: ""
  callbackEventNameParameter: event
  data: >-
    {{:
      {
        'extra_vars': {
          'job_vars': parameters | combine({
            '__meta__': {
              'callback': {
                'token': action.callback_token,
                'url': action.callback_url
              },
              'deployer': {
                'entry_point': action_config.vars.deployer_entry_point
              },
              'tower': {
                'action': action_config.name
              }
            }
          })
        }
      } | to_json
    :}}
  path: /api/v2/job_templates/job-runner/launch/
  headers:
  - name: Content-type
    value: application/json
  method: POST
{% endraw %}
