# Ansible retry files
*.retry

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.pyc

# odo artifacts
.odo
.odo/env
.odo/odo-file-index.json

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~

# Ignore commune-operator files copied for build
commune-operator/bin
commune-operator/bundle*
commune-operator/helm-charts
commune-operator/index*
commune-operator/config/crd/bases/anarchyactions.yaml
commune-operator/config/crd/bases/anarchygovernors.yaml
commune-operator/config/crd/bases/anarchyrunners.yaml
commune-operator/config/crd/bases/anarchyruns.yaml
commune-operator/config/crd/bases/anarchysubjects.yaml
commune-operator/config/crd/bases/kopfpeerings.crd.yaml
