ansible==2.9.9
ansible-runner==1.4.6
Flask==1.1.2
gevent==20.5.0
Jinja2==2.11.2
jmespath==0.10.0
jsonpatch==1.25
kubernetes==11.0.0
ndg-httpsclient==0.5.1
openshift==0.11.2
prometheus-client==0.7.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyOpenSSL==19.1.0
python-dateutil==2.8.1
PyYAML==5.3.1
urllib3==1.25.9
Werkzeug==1.0.1
