ansible
ansible-runner
awscli
boto3
Flask==1.1.2
gevent==20.5.0
Jinja2==2.11.2
jmespath
jsonpatch
kubernetes
ndg-httpsclient==0.5.1
openshift
prometheus-client==0.7.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyMySQL
pyOpenSSL==19.1.0
python-dateutil==2.8.1
PyYAML==5.3.1
urllib3==1.25.9
Werkzeug==1.0.1
