ansible==4.8.0
ansible-core==2.11.6
ansible-runner==2.1.1
cryptography==35.0.0
docutils==0.18
Flask==2.0.2
gevent==21.8.0
itsdangerous==2.0.1
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.1
lockfile==0.12.2
ndg-httpsclient==0.5.1
pexpect==4.8.0
prometheus-client==0.12.0
psutil==5.8.0
ptyprocess==0.7.0
pycparser==2.20
pyOpenSSL==21.0.0
python-daemon==2.3.0
resolvelib==0.5.4
Werkzeug==2.0.2
zope.event==4.5.0
zope.interface==5.4.0
