---
apiVersion: anarchy.gpte.redhat.com/v1
kind: AnarchyAction
metadata:
  name: {{ _name | to_json }}
  namespace:  {{ anarchy_namespace | to_json }}
spec:
  action: {{ _action | to_json }}
  subjectRef:
    name: {{ _subject_name | to_json }}
