---
apiVersion: anarchy.gpte.redhat.com/v1
kind: AnarchyGovernor
metadata:
  name: test-simple
  namespace: {{ anarchy_namespace | to_json }}
  labels:
    anarchy.gpte.redhat.com/test: simple
{% raw %}
spec:
  ansibleGalaxyRequirements:
    collections: []
    roles: []

  pythonRequirements: |
    PyMySQL==0.9.3

  runner: default

  vars:
    a_var_subject_should_override: false
    a_var_from_governor: foo

  varSecrets: []

  subjectEventHandlers:
    create:
      tasks:
      - name: Schedule Configure
        anarchy_schedule_action:
          action: configure

    update:
      tasks:
      - name: Schedule Configure
        anarchy_schedule_action:
          action: configure

    delete:
      tasks:
      - name: Schedule Destroy
        anarchy_schedule_action:
          action: destroy

  actions:
    configure:
      tasks:
      - name: Fail run
        fail:
          msg: Failed run as requested
        when: >-
          fail_run | default(false)
          or
          (
            fail_first_run | default(false) | bool and
            anarchy_run.status.failures | default(0) < 1
          )

      - name: Print message
        debug:
          msg: Running configure for {{ anarchy_subject_name }}

      - name: Check PyMySQL was installed
        mysql_info: {}
        register: r_mysql_info
        failed_when: >-
          "module is required" in r_mysql_info.msg

      timeEstimate: 10s

    callback_test:
      finishOnSuccessfulRun: false
      tasks:
      - name: Print message
        debug:
          msg: Starting callback test
      callbackNameParameter: event
      callbackHandlers:
        done:
          tasks:
          - name: Explicitly complete action
            anarchy_finish_action: {}
      timeEstimate: 1m

    continuation_test:
      tasks:
      - name: Print message
        debug:
          msg: In continuation test
      - name: Manage continuation
        when: not continued | default(false)
        block:
        - name: Record change
          anarchy_subject_update:
            skip_update_processing: true
            spec:
              vars:
                continued: true
        - name: Schedule continution
          anarchy_continue_action:
            after: 30s
      timeEstimate: 1m

    destroy:
      tasks:
      - name: Print message
        debug:
          msg: Running destroy for {{ anarchy_subject_name }}

      - name: Complete anarchy subject delete by removing finalizers
        anarchy_subject_delete:
          remove_finalizers: true
      timeEstimate: 10s
{% endraw %}
