{{- if or .Values.deploy .Values.roles.create -}}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "anarchy.name" . }}
  namespace: {{ include "anarchy.namespaceName" . }}
  labels:
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
rules:
- apiGroups:
  - kopf.dev
  resources:
  - kopfpeerings
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - anarchy.gpte.redhat.com
  resources:
  - anarchygovernors
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - anarchy.gpte.redhat.com
  resources:
  - anarchyactions
  - anarchyactions/status
  - anarchyrunners
  - anarchyrunners/status
  - anarchyruns
  - anarchyruns/status
  - anarchysubjects
  - anarchysubjects/status
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - deployments/rollback
  - deployments/scale
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
- apiGroups:
  - image.openshift.io
  resources:
  - imagestreams
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - create
  - get
  - list
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  - serviceaccounts
  - services
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
{{- end }}
