---
- name: GitOps Setup
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    anarchy_gitops_deploy_autonomous: true
    k8s_config_sources:
    - name: anarchy-k8s-config
      base_path: "{{ playbook_dir }}/k8s-config"
      
  pre_tasks:
  - name: Get cluster ingress configuration
    k8s_info:
      api_version: config.openshift.io/v1
      kind: Ingress
      name: cluster
    register: _k8s_info_get_cluster_ingress

  - name: Set k8s_info fact
    set_fact:
      k8s_config:
        run_interval: 1h

      k8s_cluster_info:
        cluster_domain: >-
          {{ _k8s_info_get_cluster_ingress.resources[0].spec.domain | regex_replace('^apps\\.', '') }}
        cluster_ingress_domain: >-
          {{ _k8s_info_get_cluster_ingress.resources[0].spec.domain }}

  roles:
  - role: k8s_config
