---
apiVersion: anarchy.gpte.redhat.com/v1
kind: AnarchySubject
metadata:
  name: {{ _name | to_json }}
  namespace: {{ anarchy_namespace | to_json }}
  labels:
    anarchy.gpte.redhat.com/test: babylon
spec:
  governor: test-babylon
  vars: {{ _vars | to_json }}
