---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: anarchy-test-babylon-server
  namespace: {{ anarchy_namespace | to_json }}
spec:
  port:
    targetPort: api
  tls:
    termination: edge
  to:
    kind: Service
    name: anarchy-test-babylon-server
