---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: anarchysubjects.anarchy.gpte.redhat.com
spec:
  group: anarchy.gpte.redhat.com
  scope: Namespaced
  names:
    plural: anarchysubjects
    singular: anarchysubject
    kind: AnarchySubject
    shortNames: []
  versions:
  - name: v1
    served: true
    storage: true
    subresources:
      status: {}
    additionalPrinterColumns:
    - name: Governor
      type: string
      description: The governor for the subject
      jsonPath: .spec.governor
    - name: Current State
      type: string
      description: The current_state variable value.
      jsonPath: .spec.vars.current_state
    - name: Desired State
      type: string
      description: The desired_state variable value.
      jsonPath: .spec.vars.desired_state
    - name: Age
      type: date
      jsonPath: .metadata.creationTimestamp
    - name: Delete
      type: date
      jsonPath: .metadata.deletionTimestamp
    schema:
      openAPIV3Schema:
        description: >-
          AnarchySubjects track state Anarchy. Subjects represent something that is managed.
          When Anarchy ansible processing runs it always runs for a subject and can update
          the subject during the run to reflect state changes.
        type: object
        required:
        - apiVersion
        - kind
        - metadata
        - spec
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            description: >-
              Definition of how the AnarchySubject.
            type: object
            properties:
              governor:
                description: >-
                  Name of AnarchyGovernor that defines how to manage this subject.
                type: string
              vars:
                description: >-
                  Variables for the subject. These are used as Ansible variables during runs
                  and may also be updated by ansible runs.
                type: object
                x-kubernetes-preserve-unknown-fields: true
              varSecrets:
                description: >-
                  List of secrets to use to set variables in the dynamic ansible play for the subject.
                type: array
                items:
                  description: >-
                    Secret used to set variables in the dynamic ansible play for the event handler.
                    Secret values are merged into values from "vars".
                  type: object
                  required:
                  - name
                  properties:
                    name:
                      description: Secret name
                      type: string
                    namespace:
                      description: >-
                        Optional secret namespace. If omitted then the operator namespace is used.
                      type: string
                    var:
                      description: >-
                        Optional variable name to set. If not provided, then each data key from the
                        secret is treated as a separate variable.
                      type: string
          status:
            description: >-
              AnarchySubject status.
            type: object
            properties:
              deleteHandlersStarted:
                type: string
              runs:
                type: object
                properties:
                  active:
                    type: array
                    items:
                      type: object
                      properties:
                        apiVersion:
                          type: string
                        kind:
                          type: string
                        name:
                          type: string
                        namespace:
                          type: string
                        uid:
                          type: string
                  deleteHandlersStarted:
                    type: string
