apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: anarchyruns.anarchy.gpte.redhat.com
spec:
  group: anarchy.gpte.redhat.com
  scope: Namespaced
  names:
    plural: anarchyruns
    singular: anarchyrun
    kind: AnarchyRun
    shortNames: []
  versions:
  - name: v1
    served: true
    storage: true
    subresources:
      status: {}
    additionalPrinterColumns:
    - name: Governor
      type: string
      jsonPath: .spec.governor.name
    - name: Subject
      type: string
      jsonPath: .spec.subject.name
    - name: Action
      type: string
      jsonPath: .spec.action.name
    - name: Event
      type: string
      jsonPath: .spec.handler.name
    - name: Runner
      type: string
      description: Runner state
      jsonPath: >-
        .metadata.labels['anarchy\.gpte\.redhat\.com/runner']
    - name: Age
      type: date
      jsonPath: .metadata.creationTimestamp
    schema:
      openAPIV3Schema:
        description: >-
          AnarchyRuns represent Ansible processing that is queued to occur or has occurred.
          AnarchyRuns process events for AnarchySubjects such as subject create, update,
          or delete as well as processing scheduled AnarchyActions.
        type: object
        required:
        - apiVersion
        - kind
        - metadata
        - spec
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
            properties:
              name:
                type: string
                maxLength: 63
                pattern: ^[a-z0-9A-Z]([a-z0-9A-Z\-._]*[a-z0-9A-Z])?$
          spec:
            description: >-
              Specification for how to process the Ansible run.
            type: object
            properties:
              action:
                description: >-
                  Reference to the AnarchyAction related to this AnarchyRun. Only
                  present if the run was scheluded to process an action.
                type: object
                properties:
                  apiVersion:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                  uid:
                    type: string
              actionConfig:
                description: Action configuration from the AnarchyGovernor.
                type: object
                properties:
                  name:
                    description: Action name from the AnarchyGovernor spec.
                    type: string
                  vars:
                    description: Processed variables for the action.
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
              ansibleGalaxyRequirements:
                description: >-
                  List of Ansible Galaxy requirements from the AnarchyGovernor, frozen in time from when
                  this action was scheduled.
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: object
                      x-kubernetes-preserve-unknown-fields: true
                  collections:
                    type: array
                    items:
                      type: object
                      x-kubernetes-preserve-unknown-fields: true
              handler:
                description: >-
                  Event or callback handler information.
                type: object
                properties:
                  name:
                    description: >-
                      Event or callback handler name.
                    type: string
                  vars:
                    description: Processed variables for the handler.
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
              pythonRequirements:
                description: >-
                  Python requirements from the AnarchyGovernor, frozen in time from when this action was scheduled.
                type: string
              failures:
                description: DEPRECATED (moved to status)
                type: integer
              governor:
                description: >-
                  Reference to the AnarchyGovernor related to this AnarchyRun.
                type: object
                properties:
                  apiVersion:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                  uid:
                    type: string
                  vars:
                    description: Processed vars and varSecrets for the governor.
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
              retryAfter:
                description: DEPRECATED (moved to status)
                type: string
              runner:
                description: DEPRECATED (moved to status)
                type: string
              runnerPod:
                description: DEPRECATED (moved to status)
                type: object
                properties:
                  apiVersion:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                  uid:
                    type: string
              runnerRef:
                description: DEPRECATED (moved to status)
                type: object
                properties:
                  apiVersion:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                  uid:
                    type: string
              runPostTimestamp:
                description: DEPRECATED (moved to status)
                type: string
              subject:
                description: >-
                  Reference to the AnarchySubject related to this AnarchyRun.
                type: object
                properties:
                  apiVersion:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                  uid:
                    type: string
                  vars:
                    description: Processed vars and varSecrets for the subject.
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
              tasks:
                description: >-
                  Ansible "tasks" for the dynamic ansible play.
                type: array
                items:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
              postTasks:
                description: >-
                  Ansible "post_tasks" for the dynamic ansible play.
                type: array
                items:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
              preTasks:
                description: >-
                  Ansible "pre_tasks" for the dynamic ansible play.
                type: array
                items:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
              roles:
                description: >-
                  Ansible "roles" for the dynamic ansible play.
                type: array
                items:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
              vars:
                description: >-
                  Collected processed vars from governor, subject, event handler, and action
                  combinding vars and varSecrets values.
                type: object
                x-kubernetes-preserve-unknown-fields: true
              result:
                description: DEPRECATED (moved to status)
                type: object
                properties:
                  ansibleRun:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                  continueAction:
                    description: >-
                      Result indicating whether action should be continued by another AnarchyRun.
                    type: object
                    properties:
                      after:
                        description: Timestamp for when to continue action
                        type: string
                  rc:
                    type: integer
                  status:
                    type: string
                  statusMessage:
                    type: string
          status:
            description: >-
              AnarchyRun status.
            type: object
            x-kubernetes-preserve-unknown-fields: true
            properties:
              failures:
                description: >-
                  Count of failures this run has experienced.
                type: integer
              result:
                description: >-
                  Result of Ansible execution.
                type: object
                properties:
                  ansibleRun:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                  continueAction:
                    description: >-
                      Result indicating whether action should be continued by another AnarchyRun.
                    type: object
                    properties:
                      after:
                        description: Timestamp for when to continue action
                        type: string
                  rc:
                    type: integer
                  status:
                    type: string
                  statusMessage:
                    type: string
              retryAfter:
                description: >-
                  UTC timestamp for next retry after failure.
                type: string
              runner:
                description: >-
                  Reference to the AnarchyRunner executing this AnarchyRun
                type: object
                properties:
                  apiVersion:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                  uid:
                    type: string
              runnerPod:
                description: >-
                  Reference to the AnarchyRunner Pod executing this AnarchyRun
                type: object
                properties:
                  apiVersion:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                  uid:
                    type: string
              runPostTimestamp:
                description: Timestamp of when the run result was received from the runner.
                type: string
