apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: anarchyrunners.anarchy.gpte.redhat.com
spec:
  group: anarchy.gpte.redhat.com
  scope: Namespaced
  names:
    plural: anarchyrunners
    singular: anarchyrunner
    kind: AnarchyRunner
    shortNames: []
  versions:
  - name: v1
    served: true
    storage: true
    subresources:
      status: {}
    additionalPrinterColumns:
    - name: Min
      type: string
      jsonPath: .spec.minReplicas
    - name: Max
      type: string
      jsonPath: .spec.maxReplicas
    - name: Age
      type: date
      jsonPath: .metadata.creationTimestamp
    schema:
      openAPIV3Schema:
        description: >-
          AnarchyRunners define Ansible runners used to process actions and handle events.
        type: object
        required:
        - apiVersion
        - kind
        - metadata
        - spec
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            description: >-
              Definition of the AnarchyRunner.
            type: object
            properties:
              minReplicas:
                description: Minimum number of replicas for dynamic scaling of the AnarchyRunner pool.
                type: integer
                minimum: 0
              maxReplicas:
                description: Maximum number of replicas for dynamic scaling of the AnarchyRunner pool.
                type: integer
                minimum: 0
              podTemplate:
                description: >-
                  Pod template used to define AnarchyRunner pods.
                type: object
                x-kubernetes-preserve-unknown-fields: true
              token:
                description: Token used to validate communication with pods in the AnarchyRunner pool.
                type: string
