---
apiVersion: anarchy.gpte.redhat.com/v1
kind: AnarchySubject
metadata:
  name: example
spec:
  governor: gitops
  vars:
    # Interval for processing
    # Should be specified as a positive number folled by 'd', 'h', or 'm'
    # for units of 'day', 'hour', or 'minute'
    run_interval: 1h

    # Variable used when loading babylon config source
    k8s_config_environment_level: {{ k8s_config_environment_level | to_json }}
    k8s_config_sources: {{ k8s_config_sources | to_json }}
