apiVersion: anarchy.gpte.redhat.com/v1
kind: AnarchyGovernor
metadata:
  name: gitops
spec:
  runner: default
  ansibleGalaxyRequirements:
    collections: []
    roles:
    - name: k8s_config
      src: git+{{ .Values.k8s_config.repo }}
      version: {{ .Values.k8s_config.version }}
  vars:
    k8s_config:
      {{- toYaml .Values.k8s_config | nindent 6 }}
    k8s_cluster_info:
      {{- toYaml .Values.k8s_cluster_info | nindent 6 }}
  subjectEventHandlers:
    create:
      tasks:
      - name: Schedule Deploy
        anarchy_schedule_action:
          action: configure
    update:
      tasks:
      - name: Schedule Deploy
        anarchy_schedule_action:
          action: configure
  actions:
    configure:
      roles:
      - k8s_config
      tasks:
      - name: Schedule next run
        anarchy_schedule_action:
          action: configure
          after: {{ .Values.k8s_config.run_interval }}
